.vertical-text{
  writing-mode: tb-rl;
  transform: rotate(180deg);
  font-size: 18px;
  padding-left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}
td{
  text-align-last: CENTER;
}
table{
  width: 100%;
  border: 1px solid black;
}
td, th{
  height: 20px;
  border: 1px solid black;
}