.vertical-text {
    writing-mode: tb-rl;
	transform:rotate(180deg);
    font-size: 18px;
	margin: 0px;
	padding: 0px;
}
.table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}
.table th, .table td {
	border: 3px solid #888;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
	position: relative;
}
.nedelya {
	text-align: center;
	color: #252540;
	font-family: arial;
	font-size: 17px;
	font-style: italic;
	line-height: 1.45;
	padding: 15px 38px;
	position: relative;
}