.table-display{
    display: table;
    width: 100%;
}

.cell-display {
    display: table-cell;
    border: 2px solid black;
}

.div{
    color:black;
    padding: 2px;
    margin: 2px;
    width: 33%;
}

.div_empty{
    background: white;
    border: 0px solid rgb(255, 255, 255);
    width: 1px;
    height: 2px;
}

.div_main{
    background: rgb(255, 255, 255);
}

.div_center{
    color:white;
    text-align: center;
    vertical-align: bottom;
}

img {
    padding: 7px;
}
